@import "reset.css";

body{
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    color: aliceblue;
    background-color: #121212;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}

.nav_content{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav_link{
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.nav_link:hover{
    color: #21a1f1;
    transition: 0.3s ease-in-out;
}